.image {
  max-width: 21rem;
  display: inline-block;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

#about-me h1 {
  margin: 0 0 .5rem 0;
}

.text {
  margin: 0 0 0 0;
  padding: 1.4rem 1.5rem 0 .5em;
}

.labels {
  margin: .6rem 0 0 0;
}

@media (min-width: 1920px) {
  .image {
    max-width: 35rem;
  }

  #about-me h1 {
    margin: 0 0 1.5rem 0;
  }
  
  .text {
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0 2rem 0 .5rem;
  }
}

@media (min-width: 2560px) {
  .image {
    max-width: 46rem;
    padding: 1.3rem 0 0 0;
  }

  #about-me h1 {
    margin: 0 0 1.6rem 0;
  }
  
  .text {
    font-size: 2.4rem;
    line-height: 2.7rem;
    padding: 0 2.5rem 0 .5rem;
  }
}