main.notebook .about-me {
  font-size: 1rem;
  padding: 0 1rem 0 0;
  line-height: 1.3rem;
}

.resume,
.links {
  text-align: center;
  font-size: 1rem;
}

.resume {
  margin-bottom: .7rem;
}

.links {
  margin: 0 auto .7rem auto;
  width: 40%;
  line-height: 1.4rem;
}

.links > div:first-child {
  cursor: default;
}

.links-list {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 1920px) {
  main.notebook .about-me {
    font-size: 1.8rem;
    padding: 0 3rem 0 0;
    line-height: 2rem;
  }

  .resume,
  .links,
  .reading {
    font-size: 1.8rem;
  }

  .resume {
    margin-bottom: 1.3rem;
  }

  .links {
    margin: 0 auto 1.3rem auto;
    width: 50%;
    line-height: 2rem;
  }
}

@media (min-width: 2560px) {
  main.notebook .about-me {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  .resume,
  .links,
  .reading {
    text-align: center;
    font-size: 2.4rem;
  }

  .links {
    margin: 0 auto 2rem auto;
    line-height: 3rem;
  }
}
