.projects {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0rem 0 1rem 0;
}

.triangle {
  width: 0.8rem;
  margin-right: 0.5rem;
  flex-shrink: 1;
}

.project-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.6rem 0 0 0;
}

.project-header a {
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  margin-left: 0.8rem;
}

.projects h2 {
  margin: 0;
  padding-left: 0.5rem;
}

.projects p {
  margin: 0.3rem 1.7rem 0 1.9rem;
  padding: 0;
  line-height: 1.3rem;
}

.project {
  margin: 0 0 0.5rem 0;
}

@media (min-width: 1920px) {
  .triangle {
    width: 1.4rem;
  }
  .projects h2 {
    padding: 0 0 0.2rem 1rem;
    font-size: 2.5rem;
  }

  .project-header {
    margin: 0.8rem 0 0 0;
  }

  .project-header a {
    font-size: 2rem;
    margin: 0.3rem 0 0 1.8rem;
  }

  .projects p {
    margin: 0.3rem 2rem 0 3rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

@media (min-width: 2560px) {
  .triangle {
    width: 1.9rem;
  }

  .project-header {
    margin: 1rem 0 0 0;
  }

  .projects h2 {
    margin: 0 0 0 0;
    padding-left: 1rem;
    font-size: 3.4rem;
  }

  .project-header a {
    font-size: 2.9rem;
    margin: 0.5rem 0 0 2.5rem;
  }

  .projects p {
    margin: 0.5rem 3rem 0 3.6rem;
    padding: 0;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}
