.type {
  max-width: 0.9rem;
}

#writing h2 {
  margin: 0.75rem 0 0 0;
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 1.55rem;
}

#writing h1 {
  display: inline-block;
}

#writing h3 {
  margin: 0.3rem 0 0.5rem 0;
  font-size: 1.5rem;
}

#writing .work {
  height: 100%;
  overflow-y: auto;
}

.section {
  padding: 0 0 0 1rem;
}

.pdf {
  max-width: 2.5rem;
}

.link {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-41%);
}

.header {
  position: relative;
}

#writing .text {
  margin: 1rem 1.2rem 0 0;
  line-height: 1.4rem;
  padding: 0 0 1rem .5rem;
}

#writing li {
  cursor: pointer;
  width: fit-content;
}

.title {
  margin: 0;
  padding: 0.3rem 0 0 3.2rem;
  line-height: 1.7rem;
  font-size: 1.4rem;
  list-style: square;
}

.work {
  position: relative;
  padding: 0 0 1rem 0;
}

.exit {
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  right: 4%;
  top: 0%;
  z-index: 9999;
}

.exit:hover {
  color: red;
}

.top-icon {
  max-width: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  cursor: pointer;

  transition: transform 0.3s ease;
}

.top-icon:hover {
  transform: translate(-50%, -113%);
}

@media (min-width: 1920px) {
  #writing .triangle {
    width: 1.6rem;
  }

  #writing h2 {
    padding: 0.5rem 0 0 1rem;
    font-size: 2.8rem;
  }

  .title {
    padding: 0.3rem 0 0 5.5rem;
    line-height: 3rem;
    font-size: 2.5rem;
  }

  #writing h3 {
    font-size: 2.5rem;
    margin: .5rem 0 1rem 0;
  }

  .pdf {
    max-width: 4rem;
  }

  .exit {
    font-size: 4rem;
    right: 3%;
    top: 1%;
  }

  #writing .text {
    margin: 1rem 1.2rem 0 0;
    padding: 0 0 1.5rem 1rem;

    font-size: 1.8rem;
    line-height: 2.2rem;

  }

  .top-icon {
    max-width: 1.8rem;
  }
  
  .top-icon:hover {
    transform: translate(-50%, -118%);
  }
  
}

@media (min-width: 2560px) {
  #writing .triangle {
    width: 2.1rem;
  }

  #writing h2 {
    margin: 1.5rem 0 0 0;
    padding: 0 0 0 1.5rem;
    font-size: 3.7rem;
  }

  .title {
    padding: .5rem 0 .5rem 7rem;
    line-height: 3.8rem;
    font-size: 3.3rem;
  }

  #writing h3 {
    font-size: 3.5rem;
    margin: .5rem 0 1rem 0;
  }

  .pdf {
    max-width: 6rem;
  }

  .exit {
    font-size: 5rem;
    right: 2.5%;
    top: 0%;
  }

  #writing .text {
    margin: 1rem 1.2rem 0 0;
    padding: 0 0 1.5rem 1rem;

    font-size: 2.4rem;
    line-height: 3rem;

  }

  .top-icon {
    max-width: 2.2rem;
  }
  
  .top-icon:hover {
    transform: translate(-50%, -118%);
  }
  
}
