*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background-color: #fff8ed;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  padding: 2.7rem 12rem;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(148, 169, 197);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(125, 147, 177);
}

@media (min-width: 1920px) {
  body {
    padding: 5rem 17rem;
  }

  ::-webkit-scrollbar {
    width: 13px;
  }
}

@media (min-width: 2560px) {
  body {
    padding: 7rem 20.5rem;
  }

  ::-webkit-scrollbar {
    width: 17px;
  }
}

/* Text Selection color */
*[selection-color="pink"]::selection {
  background-color: rgb(252, 148, 185, 60%);
}

*[highlight="pink"] {
  box-shadow: inset 0rem 0 0 0rem rgb(252, 148, 185, 60%);
  transition: box-shadow 0.2s ease-in-out;
}

*[highlight="pink"]:hover {
  box-shadow: inset 30rem 0 0 0.5rem rgb(252, 148, 185, 60%);
}

*[selection-color="blue"]::selection {
  background-color: rgb(101, 172, 200, 60%);
}

*[highlight="blue"] {
  box-shadow: inset 0rem 0 0 0rem rgb(101, 172, 200, 60%);
  transition: box-shadow 0.2s ease-in-out;
}

*[highlight="blue"]:hover {
  box-shadow: inset 30rem 0 0 0.5rem rgb(101, 172, 200, 60%);
}

*[selection-color="orange"]::selection {
  background-color: rgb(246, 172, 51, 60%);
}

*[highlight="orange"] {
  box-shadow: inset 0rem 0 0 0rem rgb(246, 172, 51, 60%);
  transition: box-shadow 0.2s ease-in-out;
}

*[highlight="orange"]:hover {
  box-shadow: inset 30rem 0 0 0.5rem rgb(246, 172, 51, 60%);
}

*[selection-color="purple"]::selection {
  background-color: rgb(138, 152, 211, 60%);
}

*[highlight="purple"] {
  box-shadow: inset 0rem 0 0 0rem rgb(138, 152, 211, 60%);
  transition: box-shadow 0.2s ease-in-out;
}

*[highlight="purple"]:hover {
  box-shadow: inset 30rem 0 0 0.5rem rgb(138, 152, 211, 60%);
}

*[selection-color="red"]::selection {
  background-color: rgb(232, 87, 82, 60%);
}

*[highlight="red"] {
  box-shadow: inset 0rem 0 0 0rem rgb(232, 87, 82, 60%);
  transition: box-shadow 0.2s ease-in-out;
}

*[highlight="red"]:hover {
  box-shadow: inset 30rem 0 0 0.5rem rgb(232, 87, 82, 60%);
}
