nav {
  position: absolute;
  top: 2.7rem;
  right: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav img {
  max-width: 15rem;
}

nav ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);

  font-size: 1.5rem;

  box-shadow: inset 0 0 0 0 pink;

  transition: box-shadow 0.2s ease-in-out;
}

nav ul li a:hover {
  box-shadow: inset 20rem 0 0 1rem pink;
}

@media (min-width: 1920px) {
  nav {
    position: absolute;
    top: 5rem;
    right: 0;
  }
  
  nav img {
    max-width: 22rem;
  }
  
  nav ul li a {
    font-size: 2rem;
  }
  
}

@media (min-width: 2560px) {
  nav {
    position: absolute;
    top: 7rem;
    right: 0;
  }
  
  nav img {
    max-width: 32rem;
  }
  
  nav ul li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  
    font-size: 3.2rem;
  }
  
}
