main.notebook {
  height: 33rem;
  width: 50rem;
  margin: auto;
  overflow: hidden;

  display: inline-block;

  padding: 2.8rem 0rem 1.1rem 1.4rem;
  background-color: white;

  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0rem rgba(0, 0, 0, 1);
}

main.notebook h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0.3rem 0;
  margin-block-end: 0;
}

.container {
  position: relative;
}

.rings {
  position: absolute;
  top: 0%;
  transform: translateY(-34%);
  max-width: 50rem;
}

@media (min-width: 1920px) {
  main.notebook {
    height: 58rem;
    width: 77rem;

    border-radius: 2rem;
    border: 3px solid black;
    padding: 4rem 0rem 2rem 2rem;
  }

  .rings {
    max-width: 77rem;
  }

  main.notebook h1 {
    font-size: 4rem;
  }
}

@media (min-width: 2560px) {
  main.notebook {
    height: 77rem;
    width: 103rem;

    padding: 6rem 0 3rem 3.5rem;

    border-radius: 3rem;
    border: 4px solid black;
  }

  .rings {
    max-width: 103rem;
  }

  main.notebook h1 {
    font-size: 5.5rem;
  }
}
