.pen {
  position: absolute;
  height: 35.5rem;
  left: 4%;
  top: 3%;
}

@media (min-width: 1920px) {
  .pen {
    height: 60rem;
    left: 2.5%;
    top: 6%
  }
}

@media (min-width: 2560px) {
  .pen {
    height: 80rem;
    left: 2%;
    top: 6%
  }
}

